*~
*.sw[op]
*[1:!]
*.zwc
*.old

# Excluded files from config:
/config/hypr/hyprland.conf.d/hostname.conf
/config/tilda/*.tmp
/config/waybar/config.jsonc

# Excluded files from vim:
/vim/vim/.netrwhist

